<!DOCTYPE html>
<html lang="ja">
  <head>
    {% load static %}
    {% load sass_tags %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% sass_src 'hello/hello_base.scss' %}">
    <link rel="stylesheet" href="{% sass_src 'hello/index.scss' %}">
    <link rel="stylesheet" href="{% sass_src 'hello/keyword_list.scss' %}">
    <link rel="stylesheet" href="{% sass_src 'hello/send_date.scss' %}">
    <link rel="stylesheet" href="{% sass_src 'hello/send_set.scss' %}">
    <link rel="stylesheet" href="{% sass_src 'hello/send_change.scss' %}">
    <link rel="stylesheet" href="{% sass_src 'hello/send_delete.scss' %}">
    <link rel="stylesheet" href="{% sass_src 'hello/email_list.scss' %}">
    <link rel="stylesheet" href="{% sass_src 'hello/email_edit.scss' %}">


    <title>{% block title %}{% endblock %}</title>

  </head>
  <body>
    <div class="content">
      {% if messages %}
        {% for message in messages %}
          <div class="notices">{{message}}</div>
        {% endfor %}
      {% endif %}
      <nav class="header">
        <h1>新刊発売日一覧</h1>
        <div>当サイトでは、いくつかの出版社様から発売の近い本の紹介をしております。ユーザー登録していただければ、検索キーワードに合致する新刊の情報をメールで通知するサービスがございます。</div>
        {% if user.is_authenticated %}
        <p>現在{{ user.username }}様でログインしています。</p>
        <p>検索キーワードの登録は「検索キーワード一覧」ページに、メール通知の設定は「メール通知日設定」にお進みください。</p>
        <ul class="header__menu">
          <li><a href="{% url 'hello:index' %}">本一覧</a></li>
          <li><a href="{% url 'hello:keyword_list' user.pk %}">検索キーワード一覧</a></li>
          <li><a href="{% url 'hello:send_date' user.pk %}">メール通知日設定</a></li>
          <li><a href="{% url 'hello:email_list' user.id %}">メールアドレス編集</a></li>
          <li><a href="{% url 'account_logout' %}">ログアウト</a></li>
        </ul>
        {% else %}
        <p>ログインされていません</p>
        <ul class="header__menu_when_logged_off">
          <li><a href="{% url 'account_signup' %}">新規登録</a></li>
          <li><a href="{% url 'account_login' %}">ログイン</a></li>
        {% endif %}
        </ul>
      </nav>
      {% block body %}
      {% endblock %}
    </div>
  </body>
</html>