{% extends "hello_base.html" %}
{% block title %}新刊発売日一覧{% endblock %}

{% block body %}
<div class="middle">
  <form id="book-search-field">
    <p>タイトルか著者名で検索ができます</p>
    <input class="book-search-line" type="text" placeholder="検索キーワードを入力" value="">
  </form>
  <div id="book-search-result">

  </div>
  <div class="middle__content">
    <h3>発売日一覧</h3>
    <table>
      <thead>
        <tr>
          <th>タイトル</th>
          <th>著者</th>
          <th>出版社</th>
          <th>発売日</th>
        </tr>
      </thead>
      <tbody>
        {% for book in showingbooks_list %}
          <tr>
            <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            <td>{{book.publisher}}</td>
            <td>{{book.publishing_date}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script type="text/javascript">

function add_result(multi_results, len, search_word){

  var lists = ``

  for (var i = 0; i < len; i++) {
    lists += `<tr>`;
    for (j = 0; j < 4; j++) {
      var one_book = `<td>${multi_results[i][j]}</td>`
      lists += one_book;
    }
    lists += `</tr>`;
  }

  var html = `
  <p>「${search_word}」の検索結果</p>
  <table>
    <thead>
      <tr>
        <th>タイトル</th>
        <th>著者</th>
        <th>出版社</th>
        <th>発売日</th>
      </tr>
    </thead>
    <tbody>`
  html += lists;

  var html_tail = `
    </tbody>
  </table>`

  html += html_tail;

  return html;
}

function add_no_result(search_word){

  var html = `<p>「${search_word}」に一致する結果はありません</p>`

  return html;
}

$("#book-search-field").on("keyup", function() {
    var input = $(".book-search-line").val();
    $.ajax({
      url: "/book_search",
      method: "GET",
      data: {search_word: input},
      dataType: "text",
    })
    .done(function(books) {
      $("#book-search-result").empty();

      var results = books.split(",");
      if (results.length !== 1) {

        var search_word = results.pop();
        
        var len = results.length / 4;
        var multi_results = [];
        var begin = 0;
        for (var i = 0; i < len; i++) {
          multi_results.push(results.slice(begin, begin+4));
          begin += 4;
        }

        var html = add_result(multi_results, len, search_word);
        $("#book-search-result").append(html);

      } else  {
        var html = add_no_result(results[0]);
        $("#book-search-result").append(html);
      }
    })
    .fail(function() {
      alert("通信エラーです。検索結果が表示できません。");
    });
});

</script>
{% endblock %}