{% extends "hello_base.html" %}
{% block title %}キーワードリスト{% endblock %}
{% load static %}

{% block body %}
<div id="wrapper">
  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-6 full-width margin-top-20percent" >
        <div class="panel panel-default full-width">
          <div class="panel-body full-width full-height">
                {% for keyword in keyword_list %}
                  <div class="keyword_cage{{keyword.pk}}">
                  <label for="keyword_hidden_checkbox{{keyword.pk}}">{{keyword.content}}</label>
                  <input type="checkbox" id="keyword_hidden_checkbox{{keyword.pk}}">
                  <ul class="keyword_menu{{keyword.pk}}">
                    <li>「<strong>{{keyword.content}}</strong>」を編集しますか？</li>
                    <li>
                      <a href="{% url 'hello:keyword_edit' user.id keyword.pk %}">編集</a>
                    </li>
                    <li>
                      <form action="{% url 'hello:keyword_ajax_delete' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="keyword_id" value="{{keyword.pk}}">
                        <input type="submit" value="削除">
                      </form>
                    </li>
                  </ul>
                  </div>
                {% empty %}
                  <div>登録されたキーワードはありません。</div>
                {% endfor %}
          </div>
          <a href="{% url 'hello:keyword_add' user.pk %}">キーワードを追加</a>
          <a href="{% url 'hello:send_date' user.pk %}">メール通知日を確認</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

$("form").submit(function(e) {
        e.preventDefault();
        var form = $(this);
        $.ajax({
          url: form.prop("action"),
          method: form.prop("method"),
          data: form.serialize(),
          dataType: "text",
        })
        .done(function(data) {
          form.parents('.keyword_cage' + data).remove();
        })
        .fail(function() {
          alert('削除に失敗しました。');
        });
});

  
</script>
{% endblock %}