{% extends "hello_base.html" %}
{% block title %}キーワードリスト{% endblock %}

{% block body %}
<div id="wrapper">
  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-6 full-width margin-top-20percent" >
        <div class="panel panel-default full-width">
          <div class="keywords_board">
                {% for keyword in keyword_list %}
                  <div class="keyword_cage{{keyword.pk}}">
                  <label for="keyword_hidden_checkbox{{keyword.pk}}">{{keyword.content}}</label>
                  <input type="checkbox" id="keyword_hidden_checkbox{{keyword.pk}}">
                  <ul class="keyword_menu{{keyword.pk}}">
                    <li class="keyword_questioning{{keyword.pk}}">「<strong>{{keyword.content}}</strong>」を編集しますか？</li>
                    <li>
                      <form data-keyword_id="{{keyword.pk}}" class="keyword_update" action="{% url 'hello:keyword_ajax_update' %}" method="POST">
                        {% csrf_token %}
                        <input class="keyword_next{{keyword.pk}}" type="text" name="keyword_content" value="{{keyword.content}}">
                        <input type="hidden" name="keyword_id" value="{{keyword.pk}}">
                        <input type="submit" value="更新">
                      </form>
                    </li>
                    <li>
                      <form class="keyword_delete" action="{% url 'hello:keyword_ajax_delete' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="keyword_id" value="{{keyword.pk}}">
                        <input type="submit" value="削除">
                      </form>
                    </li>
                  </ul>
                  </div>
                {% empty %}
                  <div>登録されたキーワードはありません。</div>
                {% endfor %}
          </div>
          <form class="keyword_add" action="{% url 'hello:keyword_ajax_add' %}" method="POST">
            {% csrf_token %}
            <p>検索キーワードを追加</p>
            <input class="keyword_add_line" type="text" name="keyword_content" value="">
            <input type="submit" value="追加">
          </form>
          <a href="{% url 'hello:send_date' user.pk %}">メール通知日を確認</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

function buildHTML(id, content){

var html = `<div class="keyword_cage${id}">
                  <label for="keyword_hidden_checkbox${id}">${content}</label>
                  <input type="checkbox" id="keyword_hidden_checkbox${id}">
                  <ul class="keyword_menu${id}">
                    <li class="keyword_questioning${id}">「<strong>${content}</strong>」を編集しますか？</li>
                    <li>
                      <form data-keyword_id="${id}" class="keyword_update" action="{% url 'hello:keyword_ajax_update' %}" method="POST">
                        {% csrf_token %}
                        <input class="keyword_next${id}" type="text" name="keyword_content" value="${content}">
                        <input type="hidden" name="keyword_id" value="${id}">
                        <input type="submit" value="更新">
                      </form>
                    </li>
                    <li>
                      <form class="keyword_delete" action="{% url 'hello:keyword_ajax_delete' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="keyword_id" value="${id}">
                        <input type="submit" value="削除">
                      </form>
                    </li>
                  </ul>
                  </div>`

return html;
}

$(".keyword_add").submit(function(e) {
        e.preventDefault();
        var form = $(this);
        $.ajax({
          url: form.prop("action"),
          method: form.prop("method"),
          data: form.serialize(),
          dataType: "text",
        })
        .done(function(id_content) {
          if (id_content) {
            var id_content_list = id_content.split(",");
            var id = id_content_list[0];
            var content = id_content_list[1];
            var html = buildHTML(id, content);
            $(".keywords_board").append(html);
            $(".keyword_add_line").val('');
          }
        })
        .fail(function() {
          alert('キーワード追加に失敗しました。');
        });
});

$('.keywords_board').on("submit", ".keyword_update", function (e) {
        e.preventDefault();
        var form = $(this);
        var keyword_id = form.data('keyword_id');
        $.ajax({
          url: form.prop("action"),
          method: form.prop("method"),
          data: form.serialize(),
          dataType: "text",
        })
        .done(function(data) {
          if (data) {
            $(".keyword_questioning" + keyword_id)
            .html("「<strong>" + data + "</strong>」を編集しますか？");
            form.parents('.keyword_cage' + keyword_id).find('label')
            .html(data);
          } else {
            form.parents('.keyword_cage' + keyword_id).remove();
          }
        })
        .fail(function() {
          alert('更新に失敗しました。');
        });
});

$('.keywords_board').on("submit", ".keyword_delete", function (e) {
        e.preventDefault();
        var form = $(this);
        $.ajax({
          url: form.prop("action"),
          method: form.prop("method"),
          data: form.serialize(),
          dataType: "text",
        })
        .done(function(data) {
          form.parents('.keyword_cage' + data).remove();
        })
        .fail(function() {
          alert('削除に失敗しました。');
        });
});

  
</script>
{% endblock %}