{% extends "hello_base.html" %}
{% block title %}メール通知日{% endblock %}

{% block body %}

<div class="send_date">
  <div>ここでは、キーワードに合致する本の発売日の何日前にお知らせメールを送るかを設定できます。</div>
  {% for when in whenemail_list %}
    {% if when.date_email == 0 %}
      <div>検索ワードに合致する本の発売を、発売日<span>当日</span>にお知らせします</div>
    {% else %}
      <div>検索ワードに合致する本の発売を、発売日の<span>{{ when.date_email }}</span>日前から、発売が分かり次第お知らせいたします
      </div>
    {% endif %}
    {% if when.date_reminder != None %}
      {% if when.date_reminder == 0 %}
        <div>リマインダーは発売日<span>当日</span>にお送りします</div>
      {% else %}
        <div>リマインダーは発売の<span>{{ when.date_reminder }}</span>日前から、発売が分かり次第お送りします
        </div>
      {% endif %}
    {% endif %}
    <div><a href="{% url 'hello:send_change' user.id when.pk %}">既存のメール通知日を変更</a></div>
    <div><a href="{% url 'hello:send_delete' user.id when.pk %}">メール通知をしないようにする</a></div>
  {% empty %}
    <div>登録されたメール通知日設定はありません</div>
    <div><a href="{% url 'hello:send_set' user.pk %}">メール通知日を設定</a></div>
  {% endfor %}
</div>
{% endblock %}