<!DOCTYPE html>
<html lang="ja">
  <head>
    {% load static %}
    {% load sass_tags %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="{% sass_src 'accounts/signup.scss' %}">

    <title>新規登録</title>

  </head>

  <body>
    <h1>ユーザー新規登録</h1>
    <p>すでにアカウントをお持ちの方はこちらから<a href="{{ login_url }}">ログイン</a>してください</p>
    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button type="submit">登録</button>
    </form>
  </body>
</html>