.content {
  .middle {
    #book-search-field {
      p {
        text-align: center;
      }
      input {
        padding: 5px;
        border: 1px solid black;
        margin: 0 auto;
        display: block;
      }
    }
    #book-search-result {
      p {
        text-align: center;
      }
      table {
        margin: 0 auto;
      }
    }
    &__content {
      h3 {
        text-align: center;
      }
      table {
        margin: 0 auto;
      }
    }
  }
}