.content {
  .send_date {
    padding-top: 50px;
    div {
      width: 70%;
      margin: 0 auto;
      text-align: center;
      margin-top: 20px;
      span {
        color: red;
        font-weight: bold;
      }
    }
  }
}